<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<title>{{ title }}</title>
<link rel="stylesheet" href="../normalize.css">
<link rel="stylesheet" href="../climate-spirals.css">
<body>
<div id="alert">
<h1>For optimal experience a modern desktop browser is recommended ... [X]</h1>
</div>

<nav id="menu">

  <header class="menu-header">
    <span class="menu-header-title">Climate Spirals</span>
  </header>

  <section class="menu-section">

    <ul class="menu-section-list">
    <li><a href="../from-emissions-to-global-warming-line-chart/">From Emissions To Global Warming</a></li>
    <li><a href="../looped/">Climate Spirals Loop</a></li>
    </ul>
    <h3 class="menu-section-title">Spirals</h3>
    <ul class="menu-section-list">
      <li><a href="../carbon-budget/">Carbon Budget</a></li>
      <li><a href="../concentration/">Concentration Spiral</a></li>
      <li><a href="../temperature/">Temperature Spiral</a></li>
      <li><a href="../carbon-budget-temperature/">Budget & Temperature</a></li>
      <li><a href="../concentration-temperature/">Concentration & Temperature</a></li>
      <li><a href="../carbon-budget-concentration/">Budget & Concentration</a></li>
      <li><a href="../from-emissions-to-global-warming/">From Emissions To Global Warming</a></li>
    </ul>
    <h3 class="menu-section-title">Spirals with Line Chart</h3>
      <ul class="menu-section-list">
      <li><a href="../carbon-budget-line-chart/">Carbon Budget</a></li>
      <li><a href="../concentration-line-chart/">Concentration Spiral</a></li>
      <li><a href="../temperature-line-chart/">Temperature Spiral</a></li>
      <li><a href="../carbon-budget-temperature-line-chart/">Budget & Temperature</a></li>
      <li><a href="../concentration-temperature-line-chart/">Concentration & Temperature</a></li>
      <li><a href="../carbon-budget-concentration-line-chart/">Budget & Concentration</a></li>
    </ul>
  </section>
</nav>

<main id="panel">
<span class="icons">
<span id="toggle-button" class="icon-menu"></span>
<span id="status" class="icon-pause2"></span>
</span>
<div id="viz">

{% block viz %}{% endblock %}

</div>

<hr>

<div id="credits" class="sources">
See the <a href="../">full list of spiral variants</a> - <a href="http://www.climate-energy-college.net/more-climate-spirals">Background, Videos, and GIFs</a><br>
Original Climate Spiral by <a href="https://twitter.com/ed_hawkins">Ed Hawkins</a>
(<a href="http://www.climate-lab-book.ac.uk/spirals/">Climate Lab Book</a>),<br>
extended with Carbon Budget and Concentration Spiral by<br>
<a href="https://www.pik-potsdam.de/members/gieseke">Robert Gieseke</a>
and <a href="https://twitter.com/meinshausen">Malte Meinshausen</a>
<br>
(<a href="https://www.pik-potsdam.de/research/climate-impacts-and-vulnerabilities/research/rd2-flagship-projects/primap/primap">PRIMAP Group</a>, <a href="https://pik-potsdam.de">Potsdam Institute for Climate Impact Research, Germany</a> &
<br>
<a href="http://www.climate-energy-college.net/">Australian-German Climate & Energy College, The University of Melbourne, Australia</a>)<br>
<a href="../data-processing.html">Data Processing</a> · <a href="https://github.com/openclimatedata/climate-spirals">Source Code</a>
</div>

</main>


<script src="../slideout.min.js"></script>
<script src="../mobile-detect.min.js"></script>
<script src="../d3.v4.min.js"></script>
<script src="bundle.js"></script>
</body>
