<div class="col">
<h2>Carbon Budget</h2>
<div id="emissions-budget"></div>
<h3>Yearly CO₂ Emissions in GtCO₂</h3>
<div id="emissions-linear" class="chart-linear"></div>
<div class="sources">
<br>
Assuming Carbon Budgets (from 2020) of<br>
  1.5 °C:  440 GtCO₂ (Median), 33%-67% range:  230 - 670 GtCO₂<br>
  2.0 °C: 1374 GtCO₂ (Median), 33%-67% range: 1110 - 1656 GtCO₂<br>
<br>
Matthews et al. (2021) <a href="https:/doi.org/10.1038/s43247-020-00064-9">https:/doi.org/10.1038/s43247-020-00064-9</a><br>
<br>
Emissions Data:
<a href="https://www.globalcarbonproject.org/carbonbudget/index.htm">Global Carbon Budget</a>
</div>
</div>
