<div class="col" id="budget">
<h2>Carbon Budget</h2>
<div id="emissions-budget"></div>
<div class="sources">
<br>
Assuming Carbon Budgets (from 2020) of<br>
  1.5 °C:  500 GtCO₂ (Median), 33%-67% range:  400 - 650 GtCO₂<br>
  2.0 °C: 1350 GtCO₂ (Median), 33%-67% range: 1150 - 1700 GtCO₂<br>
<br>
IPCC AR6 Summary for Policymakers, Table SPM.2<br>
<a href="https://www.ipcc.ch/report/ar6/wg1/#SPM">Summary for Policymakers</a>
<br>
Emissions Data:
<a href="https://www.globalcarbonproject.org/carbonbudget/index.htm">Global Carbon Budget</a>
</div>
</div>
