<div class="col">
<h2>Carbon Budget</h2>
<div id="emissions-budget"></div>
<h3>Yearly CO₂ Emissions in GtCO₂</h3>
<div id="emissions-linear" class="chart-linear"></div>
<div class="sources">
Assuming a Carbon Budget of 400/1000 GtCO₂ from 2011
(<a href="http://www.ipcc.ch/pdf/assessment-report/ar5/syr/SYR_AR5_FINAL_full_wcover.pdf">IPCC AR5 Synthesis Report</a>)<br>
Data source:<br>
<a href="http://www.pik-potsdam.de/paris-reality-check/primap-hist/">PRIMAP-hist</a> plus bunkers from <a href="http://cdiac.ornl.gov/trends/emis/meth_reg.html">CDIAC</a>
</div>
</div>
