<div class="col">
<h2>Carbon Budget</h2>
<div id="emissions-budget"></div>
<h3>Yearly CO₂ Emissions in GtCO₂</h3>
<div id="emissions-linear" class="chart-linear"></div>
<div class="sources">
Assuming a Carbon Budget of 320/1070 GtCO₂ (66% probability) from 2018
(<a href="https://report.ipcc.ch/sr15/pdf/sr15_spm_final.pdf">IPCC Special Report on 1.5 SPM</a>)<br>and <a href="https://doi.org/10.1038/s41586-019-1368-z">Rogelj et al. (2019)</a><br>
Data source:
<a href="https://www.globalcarbonproject.org/carbonbudget/index.htm">Global Carbon Budget</a>
</div>
</div>
